/* src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans;
  }
  body {
    @apply w-full h-full bg-bg_primary text-text_primary;
  }

  #root,
  #__next {
    isolation: isolate;
  }

  /* Apply box-sizing: border-box to all elements and pseudo-elements */
  *,
  *::before,
  *::after {
    @apply box-border;
  }

  /* Reset all margins */
  * {
    @apply m-0;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    @apply block max-w-full;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply break-words;
  }

  h1 {
    @apply text-5xl font-black;
  }

  h2 {
    @apply text-[2.5rem] font-extrabold;
  }

  h3 {
    @apply text-4xl font-bold;
  }

  h4 {
    @apply text-[2rem] font-semibold;
  }

  h5 {
    @apply text-3xl font-semibold;
  }

  h6 {
    @apply text-2xl font-semibold;
  }

  p {
    @apply text-xl font-normal;
  }
}

@layer utilities {
  .page {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .page-container {
    width: 75%;
    height: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #eef0f2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}
